/* ALL */
*{
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

body{
    width: 80%;
    margin: auto;
    background-color: #E7DFC6;
}

/* --------- HEADER ------------ */

h1{
    text-align: center;
    font-size: 3em;
}

nav ul{
    display: flex;
    width: 25%;
    justify-content: space-around;
    margin: auto;
}

nav ul li{
    list-style-type: none;
}

nav ul li button{
    background-color: #fff;
    width: 6em;
    height: 4em;
}

nav ul li button:hover{
    transition: 0.5s;
    background-color: #816C61;
    color: white;
    border-color: white;
}

#realisation3:focus, #realisation2:focus, #realisation1:focus{
    background-color: #816C61;
    color: white;
    border-color: white;
}

/* -------------- MAIN -------------- */

main{
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
}

/* ---------- SECTION GAUCHE ---------- */

img{
    object-fit: cover;
    width: 640px;
    height: 330px;
}

#titreRealisation{
    text-align: center;
}

#paragrapheRealisation{
    width: 640px;
}

/* ----------- SECTION DROITE ----------- */

.section-right{
    padding-top: 5em;
}

#inputNom{
    width: 35em;
}

#inputCommentaire{
    width: 35em;
}

.boutonFinal{
    float: right;
}
