body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E7DFC6;
}

header{
    height: 80vh;
}

.header-top{
    background-color: #816C61;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

ul li{
    vertical-align: middle;
    list-style-type: none;
}

nav{
    width: 60%;
    height: 5em;
    margin: 0 auto;
}

.header-bottom{
    margin: auto;
    width: 60%;
    display: flex;
}

.header-bottom-right{
    padding: 4em;
}

main{
    margin: auto;
    width: 60%;
}

form ul{
    display: flex;
}

form ul li{
    margin: 1em;
}

img{
    object-fit: cover;
    width: 430px;
    height: 430px;
}


.sectionImgTxt{
    display: flex;
}

.italic{
    font-style: italic;
    font-weight: bold;
    color:brown;
}

.bot{
    height: 200px;
    background-color: #816C61;
}